@import "reset";


.container{
    width: 100%;
   

}

.fpage{
    width: 100%;
    height: 100vh;
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



// ...........................header section start here

    header{
        width: 100%;
        // height: 60px;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;
        position: fixed;
        top: 20px;


        .logo{

            a{
                img{
                    width: 60px;
                    margin-left: 30px;

                }
            }
        }
    }
}

.fpage header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .5s;
    margin-right: 10px;
    
    li{
        list-style: none;
        
        

        a{
            text-decoration: none;
            font-size: 14px;
            text-transform: uppercase;
            color: white;
            font-weight: 500;
            padding: 5px 10px;
            margin: 0px 2px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position: relative;
            transition: all .5s;
            display: inline-block;
        }
        a::before{
            content: '';
            position: absolute;
            bottom: 5px;
            left: 20px;
            width: 12px;
            height: 12px;
            border: 4px solid red;
            border-width: 0px 0px 4px 4px;
            opacity: 0;
            transition: all .5s;
            
        }
        a:hover::before{
            bottom: -4px;
            left: -2px;
            opacity: 1;
          
        }
        a:hover{
            background-color: gray;
            box-shadow: 0px 0px 10px black;
        }
        a::after{
            content: '';
            position: absolute;
            top: 5px;
            right: 20px;
            width: 12px;
            height: 12px;
            border: 4px solid red;
            border-width: 4px 4px 0px 0px;
            transition: all .5s;
            opacity: 0;
        }
        a:hover::after{
            top: -4px;
            right: -2px;
            opacity: 1;
          
        }
      

    }
  

}

.fpage header .bar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 25px;
    top: 25px;
    display: none;
    .fa-solid{
        font-size: 22px;
        
    }
}

.fpage header ul:hover li a{
    filter: blur(4px);
}
.fpage header ul li a:hover{
    filter: blur(0px);
    transform: scale(1.3);
    // color: rgba($color: #000000, $alpha: 0.5);
}


// ...........................header section end here



// ...................home center start here
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .center-img{
        padding: 15px;
        border: 4px solid gray;
        border-radius: 50%;
        // box-shadow: inset 0px 0px 40px rgb(238, 144, 144);
        position: relative;
        transition: all .5s;

        img{
            width: 200px;
        }
    }
    .center-img:hover{
        transform: translateY(-20px);
    }
    .details{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(199, 188, 188);
            text-transform: capitalize;
            font-size: 40px;
            position: relative;
            cursor: pointer;
         
        }
        h1::before{
            content: '';
            position: absolute;
            top: 0;
            left: -16px;
            height: 50px;
            width: 8px;
            background-color: gray;
            box-shadow: 0px 0px 25px red;
            opacity: 1;
            transition: all 1s ease-out;
        }
        h1:hover::before{
            transform: translateX(270px);
            opacity: 1;
        }
        p{
            font-size: 36px;
            color: gray;
            font-weight: 900px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: capitalize;
            text-shadow: 0px 0px 20px gray;
            margin-top: 8px;

        }
    }

}
// ...................home center end here


// ..................home symbol start here
.home-symbol{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    .fa-solid{
        color: gray;
        font-size: 26px;
        text-shadow: 0px 10px 1px gray;
        transition: all .5s;
        animation: arrow 2s linear infinite;
        // animation-delay: 2s;
    }
    @keyframes arrow {
        0%{
            transform: translateY(0px);
        }
        25%{
            transform: translateY(100px);
        }
        50%{
            transform: translateY(50px);
        }
        75%{
            transform: translateY(100px);
        }
        100%{
            transform: translateY(135px);
            opacity: 0.1;
        }
        
    }
}

// ..................home symbol end here


// dots style section
.fpage .dots1{
    width: 200px;
    position: absolute;
    left: 15%;
    bottom: 15%;
    .fa-solid{
        font-size: 100px;
        color: rgba($color: gray, $alpha: 0.2);

    }
}
.fpage .dots2{
    position: absolute;
    top: 20%;
    right: 15%;
    .fa-solid{
        font-size: 100px;
        color: rgba($color: gray, $alpha: 0.2);


    }
}
.fpage .dots3{
    position: absolute;
    bottom: 5%;
    right: 15%;
    .fa-solid{
        font-size: 100px;
        color: rgba($color: gray, $alpha: 0.2);


    }
}
// dots style section


// ...................home section end here


// about section start here
.about-page{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;

    .page-eldiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 120px 0px;
        position: relative;

        .about-img{
            width: 220px;
            height: 220px;
            border: 10px solid rgb(212, 208, 208);
            // box-shadow: 0px 0px 20px black;
            border-radius: 50%;
            
            img{
                width: 100%;

            }
        }
        .cv-button{
            position: absolute;
            bottom: 50px;
            left: 10%;
            font-size: 14px;
            font-family: Helvetica, sans-serif;
            text-transform: uppercase;
            padding: 10px 12px;
            font-weight: 530;
            color: gray;
            background-color: #212121;
            transition: all .5s;
            cursor: pointer;
        }
        .cv-button:hover{
            background-color: transparent;
            border: 2px solid #212121;
            color: black;
        }
    }
}
.about-details{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
  

    .ldiv{
        width: 40%;

        h1{
           margin-bottom: 8px;
           font-family: 'Tiro Devanagari Marathi', serif;
        }
        p{
            font-size: 16px;
            font-family: Helvetica, sans-serif;
            line-height: 24px;
            color: gray;
            // font-weight: 300;
        }
        .location{
            margin-top: 10px;

            .fa-solid{
                font-size: 22px;
                padding: 5px;
                border: 1px solid gray;
                border-radius: 50%;
                display: inline;
                
            }
            b{
                padding: 5px;
                font-size: 18px;
                font-family: Helvetica, sans-serif;
                text-transform: capitalize;
                text-decoration: none;
                font-weight: normal;
                margin-right: 4px;

            }
            span{
                font-size: 16px;
                font-family: Helvetica, sans-serif;

            }
        }
        .ae{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            // margin-left: -10px;

            li{
                list-style: none;
                .fa-solid{
                    font-size: 16px;
                    padding: 5px;
                    border: 1px solid gray;
                    border-radius: 50%;
                    display: inline;
                }
                b{
                    padding: 5px;
                    font-size: 18px;
                    font-family: Helvetica, sans-serif;
                    text-transform: capitalize;
                    text-decoration: none;
                    font-weight: normal;
                    margin-right: 4px;
                }

            }
        }
        .phn{
            margin-top: 20px;
            .fa-solid{
                font-size: 16px;
                padding: 4px;
                border: 1px solid gray;
                border-radius: 50%;
                display: inline;
                
            }
            b{
                padding: 5px;
                font-size: 18px;
                font-family: Helvetica, sans-serif;
                text-transform: capitalize;
                text-decoration: none;
                font-weight: normal;
                margin-right: 4px;

            }
            span{
                font-size: 16px;
                font-family: Helvetica, sans-serif;

            }
        }
    }
}


.rdiv{
    width: 40%;
    .skills{
        ul{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            width: 100%;
            position: relative;

            li{
                list-style: none;
                width: 100%;
                padding: 10px 0px;
                transition: all .5s;
                overflow: hidden;
                cursor: grab;
                // display: none;

               
                .upline{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 6px 0px;
                    P{
                        font-size: 18px;
                        font-family: Helvetica, sans-serif;
                        text-transform: uppercase;
                        font-weight: 530;
                        

                    }
                   P:nth-child(2){
                       font-size: 16px;
                   }
                }
        
            }
            li:hover{
                box-shadow: 0px 0px 10px black;
                padding: 10px;
                border-radius: 4px;
            }
        }
    }
}

.skills ul li span{
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: rgb(233, 208, 208);
    padding: 0px 8px;
}

.skills ul li span p{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 6px;
    background-color: black;
}

.skills ul li span p::after{
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    width: 14px;
    height: 14px;
    background-color: gray;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(30, 197, 169);
}

.skills ul li span .html{
    animation: animhtml 3s linear forwards;
}
@keyframes animhtml {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

.skills ul li span .css{
    animation: animcss 3s linear forwards;
}
@keyframes animcss {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}


.skills ul li span .javascript{
    animation: animjs 3s linear forwards;
}
@keyframes animjs {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}


.skills ul li span .sass{
    animation: animsass 3s linear forwards;
}
@keyframes animsass {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}


.skills ul li span .jquery{
    animation: animjquery 3s linear forwards;
}
@keyframes animjquery {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}


.skills ul li span .bootstrap{
    animation: animbts 3s linear forwards;
}
@keyframes animbts {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}


.rdiv .skills ul , .rdiv .skills ul li{
    transition: filter 0.5s;
}

.rdiv .skills ul:hover li{
    // transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);
    transition: .5s;
}
.rdiv .skills ul li:hover{
    transform: scale(1.1);
    opacity: 1;
    filter: blur(0);
}


// about section end here












// services section start here

.services{
    width: 100%;
    height: 100vh;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    h1{
        font-family: Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 600px;
        font-size: 45px;
        position: relative;
        top: -180px;
    }
    h1::before{
        content: '';
        position: absolute;
        top: 50%;
        left: -155px;
        width: 150px;
        height: 3px;
        background-color: black;
    }
    h1::after{
        content: '';
        position: absolute;
        top: 50%;
        right: -155px;
        width: 150px;
        height: 3px;
        background-color: black;
    }
    .cards{
        display: grid;
        grid-template-columns: 320px 320px 320px;
        grid-template-rows: 150px 150px 150px;
        margin: 40px 20px 0px 20px;
        padding: 20px;
        grid-gap: 80px 50px;
        position: absolute;
        top: 35%;


        .card{
            background-color: white;
            box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.4);
            // padding: 15px;
            border-radius: 8px;
            position: relative;
            height: 200px;
            cursor: pointer;
            transition: all .5s;


            .icon{
                position: absolute;
                width: 100%;
                height: 100%;
                // top: 40%;
                // left: 45%;
                background-color: gray;
                border-radius: 8px;
                // z-index: -1;
                transition: all .5s;

                .fa-solid{
                    font-size: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 55px;
                    margin-bottom: 20px;
                    // color: rgba($color: white, $alpha: 0.5);
                    
                }
                span{
                    text-align: center;
                    font-size: 18px;
                    font-family: Helvetica, sans-serif;
                    // margin-top: 12px;
                    text-transform: uppercase;
                    font-weight: 520;
                    color: rgba($color: black, $alpha: 0.8);
                    margin: 0px auto;
                    padding: 14px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                }
                span::before{
                    content: '';
                    position: absolute;
                    top: 4px;
                    left: 50px;
                    width: 40px;
                    height: 20px;
                    // background-color: white;
                    border: 4px solid white;
                    border-width: 4px 0px 0px 4px;
                }
                span::after{
                    content: '';
                    position: absolute;
                    bottom: 4px;
                    right: 50px;
                    width: 40px;
                    height: 20px;
                    // background-color: white;
                    border: 4px solid white;
                    border-width: 0px 4px 4px 0px;
                }
            }
            .back-card{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px;
                transition: all .5s;
                box-shadow: inset 0px 0px 10px black;
            }
            p{
                font-size: 16px;
                font-family: Helvetica, sans-serif;
                text-transform: capitalize;
                text-align: center;
                margin-top: 15px;
            }
            h2{
                text-transform: uppercase;
                font-family: Helvetica, sans-serif;
            }
        }


    }
}


.cards .card .icon:hover{
    opacity: 0;
}
.cards .card:hover{
    transform: scale(1.06);
}



// services section start here



// work section start here
.work{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(235, 226, 226);

    h1{
        font-family: Helvetica, sans-serif;
        text-transform: capitalize;
        font-weight: 600px;
        font-size: 45px;
        position: relative;
        top: -80px;
    }
    h1::before{
        content: '';
        position: absolute;
        top: 50%;
        left: -155px;
        width: 150px;
        height: 3px;
        background-color: black;
    }
    h1::after{
        content: '';
        position: absolute;
        top: 50%;
        right: -155px;
        width: 150px;
        height: 3px;
        background-color: black;
    }

    ul{
        position: absolute;
        top: 22%;

        li{
            list-style: none;
            span{
                font-size: 14px;
                text-transform: uppercase;
                margin: 8px;
                padding: 8px;
                font-family: Helvetica, sans-serif;
                border: 2px solid gray;
                // border-radius: 4px;
                cursor: pointer;
                transition: all .5s;

            }
            span:hover{
                background-color: #212121;
                color: white;
            }
            span:nth-child(1){
                background-color: #212121;
                color: white;
            }
        }
    }

    .wrk-images{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        top: 0%;

        

        li{
            list-style: none;
            border: 2px solid gray;
            margin: 12px;
            padding: 8px;
            width: 300px;
            height: 250px;
            position: relative;
            top: 30px;
            overflow: hidden;
            transition: all .5s;
            cursor: pointer;
            box-shadow: 0px 0px 200px gray;
            img{
                width: 100%;
                height: 100%;
                

            }
            span{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: gray;
                color: white;
                font-size: 22px;
                text-transform: capitalize;
                text-align: center;
                line-height: 150px;
                transform: translateY(20px);
                transition: all .5s;
                // border-top-left-radius: 120px;
                // box-shadow: 0px 0px 10px black;


                p{
                    font-size: 35px;
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    transform: translateX(-50%);
                    color: white;
                }
            }
            span:hover{
                // transform: translateX(-240px);
                opacity: 0;
            }
           
        }
    
       
    }
}


// work section end here







// hire section start here
.container .hire{
    width: 100%;
    height: 320px;
    background-color: #212121;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        font-size: 50px;
        text-transform: capitalize;
        color: white;
        // font-family: Helvetica, sans-serif;
        font-family: 'Tiro Devanagari Marathi', serif;

    }
    button{
        font-size: 16px;
        text-transform: uppercase;
        margin: 10px 0px;
        padding: 8px 24px;
        outline: none;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        transition: all .5s;
        
    }
    button:hover{
        background-color: white;
        color: black;
        transform: scale(1.2);
        // border: 2px solid rgb(202, 76, 76);
    }
}


// hire section end here








// blog section start here
.blog{
    width: 100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(235, 226, 226);

    h1{
        font-family: Helvetica, sans-serif;
        text-transform: capitalize;
        font-weight: 600px;
        font-size: 45px;
        position: relative;
        top: -140px;
    }
    h1::before{
        content: '';
        position: absolute;
        top: 50%;
        left: -155px;
        width: 150px;
        height: 3px;
        background-color: black;
    }
    h1::after{
        content: '';
        position: absolute;
        top: 50%;
        right: -155px;
        width: 150px;
        height: 3px;
        background-color: black;
    }
    .flex-div{
        display: flex;
        justify-content: center;
        align-items: center;


        .blog-div1{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 20px;


    
    
            .img-div{
                width: 320px;
                height: 280px;
                overflow: hidden;
                box-shadow: 0px 0px 10px black;
                position: relative;
                img{
                    width: 100%;
                }
            }
            .details{
                width: 320px;
                height: 180px;
                overflow: hidden;
                // box-shadow: 0px 0px 10px black;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 0px 8px;
                border: 2px solid gray;
                // border-width: 0px 2px 2px 2px;
                transition: all .5s;

                h2{
                    text-transform: capitalize;
                    text-align: center;
                    // margin: 8px;
                    margin-top: 12px;
                    font-weight: bold;
                }
                p{
                    text-align: center;
                    font-size: 18px;
                    font-weight: 400;
                    color: gray;
                    margin: 8px;

                }
            }
            .details:hover{
                background-color: #212121;
                color: white;
            }
            .img-div::before{
                content: '';
                position: absolute;
                // bottom: 0%;
                // left: 0%;
                width: 95%;
                height: 200%;
                background-color: #e4e1e1;
                // transform-origin: 50%, 50%;
                // transform: rotate(-45deg);
                transition: all .5s;
            }
            .img-div:hover::before{
                right: 0%;
                // bottom: 0%;
                width: 0%;
                height: 100%;
            }
            
        }
    }
 
}


// blog section end here










// testimonial section start here

// .container .testimonial{
//     width: 100%;
//     height:70vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     box-sizing: border-box;
//     background-color: #F4F4F4;



//     h1{
//         font-family: Helvetica, sans-serif;
//         text-transform: capitalize;
//         font-weight: 600px;
//         font-size: 45px;
//         position: relative;
//         top: -140px;
//     }
//     h1::before{
//         content: '';
//         position: absolute;
//         top: 50%;
//         left: -155px;
//         width: 150px;
//         height: 3px;
//         background-color: black;
//     }
//     h1::after{
//         content: '';
//         position: absolute;
//         top: 50%;
//         right: -155px;
//         width: 150px;
//         height: 3px;
//         background-color: black;
//     }
// }





// testimonial section end here





// contact section start here
.contact{
    width: 100%;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: #F4F4F4;



    h1{
        font-family: Helvetica, sans-serif;
        text-transform: capitalize;
        font-weight: 600px;
        font-size: 45px;
        position: relative;
        top: -100px;
    }
    h1::before{
        content: '';
        position: absolute;
        top: 50%;
        left: -155px;
        width: 150px;
        height: 3px;
        background-color: black;
    }
    h1::after{
        content: '';
        position: absolute;
        top: 50%;
        right: -155px;
        width: 150px;
        height: 3px;
        background-color: black;
    }

    .inp-box{
        display: flex;
        justify-content: space-around;
        align-items: center;

        input{
            margin: 10px 30px;
            font-size: 16px;
            padding: 8px 0px 8px 12px;
            width: 350px;
            outline: none;
            border: none;
            background-color: transparent;
            border-bottom: 2px solid black;
          
        }
        input::placeholder{
            font-size: 16px;
            text-transform: capitalize;

        }

    }
    textarea{
        width: 760px;
        height: 200px;
        margin-top: 30px;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        padding: 20px 0px 0px 20px;
        font-size: 18px;
        text-transform: capitalize;
        color: black;
    }
    textarea::placeholder{
        font-size: 18px;
        text-transform: capitalize;
        color: gray;

    }

    button{
        font-size: 14px;
        text-transform: uppercase;
        padding: 12px 22px;
        margin-top: 40px;
        background-color: #212121;
        color: white;
        font-weight: 600px;
        transition: all .5s;

    }

    button:hover{
        background-color: transparent;
        color: black;
        border: 2px solid black;
    }
}



// contact section start here





// footer section start here
footer{
    width: 100%;
    height:35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: #212121;


    h3{
        font-size: 30px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin: 15px;
        font-weight: 800px;

    }

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
            list-style: none;
            margin: 4px 8px;
            width: 35px;
            height: 35px;
            background-color: #212121;
            border-radius: 50%;
            box-shadow: 0px 0px 1px white;
            transition: all .5s;

            .fa-brands{
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 35px;
                font-size: 18px;
                // padding: 8px;
                // background-color: red;
                // border-radius: 50%;
                color: white;
                transition: all .5s;

            }

        }
        li:hover{
            background-color: white;
           
        }
        li:hover .fa-brands{
            color: black;
        }

    }
    p{
        color: gray;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600px;
        margin-top: 15px;
        font-family: Helvetica, sans-serif;

    }
}


// footer section start here



